


header input{
    background: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #4d4a4a;
    
}

header  i{
    position: relative;
    /* text-align: ; */
    
}

 header  i::after {


    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    background: #000000;
    margin-top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    
} 